<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
		    {% if site.data.labels.contact.title %}
    		    <h3>
    		        {% include _t.html 
    													label = site.data.labels.contact.title
    													fallback = 'Contact' %}
    		    </h3>
		    {% endif %}
		    
		    {% if site.data.labels.contact.description %}
    		    <p>
    		        {% include _t.html 
    													label = site.data.labels.contact.description
    													fallback = '' %}
    		    </p>
		    {% endif %}
			<form method="POST" action="https://formspree.io/{{ site.email }}">
				<div class="field half first">
					<label for="name">
						{% include _t.html 
													label = site.data.labels.contact.form.name
													fallback = 'Name' %}
					</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">
						{% include _t.html 
													label = site.data.labels.contact.form.email
													fallback = 'Email' %}
					</label>
					<input type="text" name="_replyto" id="email" />
				</div>

				<div class="field">
					<label for="message">
						{% include _t.html 
													label = site.data.labels.contact.form.message
													fallback = 'Message' %}
					</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>

				<ul class="actions">
					<li>
						<button type="submit" class="special">
							{% include _t.html 
													label = site.data.labels.contact.form.submit
													fallback = 'Send' %}
						</button>
					</li>
					
					<li>
						<button type="reset">
							{% include _t.html 
													label = site.data.labels.contact.form.clear 
													fallback = 'Clear' %}
						</button>
					</li>
				</ul>
			</form>
		</section>

		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					
					<h3>
						{% include _t.html
												label = site.data.labels.contact.method.email
												fallback = "Email" %}
					</h3>
					
					<a href="mailto:{{ site.email }}">
						{{ site.email }}
					</a>
				</div>
			</section>

			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					
					<h3>
						{% include _t.html 
												label = site.data.labels.contact.method.phone 
												fallback = "Phone" %}
					</h3>
					
					<span>
						{{ site.phone }}
					</span>
				</div>
			</section>

			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>

					<h3>
						{% include _t.html 
												label = site.data.labels.contact.method.address 
												fallback = "Address" %}
					</h3>

					<span>
						{{ site.street_address }}<br />
						{{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
						{{ site.country }}
					</span>
				</div>
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}

				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}

				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}

				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}

				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}

				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}

				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}

				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}

				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}

				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>

			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a>, <a href="http://agusti.cat" target="_blank">Agustí B.R.</a></li>

			</ul>
		</div>
	</footer>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
